<% if defined?(errors) && errors.try(:[], field.attribute.to_sym).try(:any?) %>
  <fieldset class="field-unit--nested nhsuk-fieldset">
    <div class="field-unit__label">
      <%= f.label field.attribute, class: "nhsuk-label", for: "input-with-error-message" %>
      <% errors[field.attribute.to_sym].each do |error| %>
        <span class="nhsuk-error-message" id="input-with-error-message-error">
          <span class="nhsuk-u-visually-hidden">Error:</span><%= error %>
        </span>
      <% end %>
    </div>
    <% if defined?(hint) && hint %>
      <span class="nhsuk-hint" id="input-with-hint-text-hint">
        <%= hint %>
      </span>
    <% end %>
    <%= f.fields_for field.association_name do |nested_form| %>
      <%= render(
        partial: "fields/nested_has_many/fields",
        locals: {
          f: nested_form,
          field: field,
          errors: errors.to_hash.select { |k, v|
            k.to_s.include?(field.association_name)
          }.transform_keys { |k|
            k.to_s.gsub("#{field.association_name}.", '').to_sym
          }
        },
      ) %>
    <% end %>

    <div>
      <%= link_to_add_association(
        I18n.t("administrate.fields.nested_has_many.add", resource: field.associated_class_name.titleize),
        f,
        field.association_name,
        class: 'nhsuk-button nhsuk-button--secondary',
        partial: "fields/nested_has_many/fields",
        render_options: { locals: { field: field } },
      ) %>
    </div>
  </fieldset>
<% else %>
  <fieldset class="field-unit--nested nhsuk-fieldset">
    <div class="field-unit__label">
      <%= f.label field.attribute, class: "nhsuk-label" %>
    </div>
    <% if defined?(hint) && hint %>
      <span class="nhsuk-hint" id="input-with-hint-text-hint">
        <%= hint %>
      </span>
    <% end %>
    <%= f.fields_for field.association_name do |nested_form| %>
      <%= render(
        partial: "fields/nested_has_many/fields",
        locals: {
          f: nested_form,
          field: field,
        },
      ) %>
    <% end %>

    <div>
      <%= link_to_add_association(
        I18n.t("administrate.fields.nested_has_many.add", resource: field.associated_class_name.titleize),
        f,
        field.association_name,
        class: 'nhsuk-button nhsuk-button--secondary',
        partial: "fields/nested_has_many/fields",
        render_options: { locals: { field: field } },
      ) %>
    </div>
  </fieldset>
<% end %>
