<div class='nhsuk-grid-column-two-thirds'>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render 'devise/shared/error_messages', resource: resource %>

    <fieldset class='nhsuk-fieldset'>
      <legend class='nhsuk-fieldset__legend nhsuk-fieldset__legend--xl'>
        <h1 class='nhsuk-fieldset__heading'>
          <%= I18n.t('navigation.sign_up_title') %>
        </h1>
      </legend>

      <div class='nhsuk-form-group'>
        <%= f.label :email, class: 'nhsuk-label', for: 'input-email' %>
        <%= f.email_field :email, class: 'nhsuk-input', id: 'input-email', autofocus: true, autocomplete: 'email' %>
      </div>

      <div class='nhsuk-form-group'>
        <%= f.label :first_name, class: 'nhsuk-label', for: 'input-first-name' %>
        <%= f.text_field :first_name, class: 'nhsuk-input', id: 'input-first-name', autocomplete: 'first-name' %>
      </div>

      <div class='nhsuk-form-group'>
        <%= f.label :last_name, class: 'nhsuk-label', for: 'input-last-name' %>
        <%= f.text_field :last_name, class: 'nhsuk-input', id: 'input-last-name', autocomplete: 'last-name' %>
      </div>

      <div class='nhsuk-form-group'>
        <%= f.label :password, class: 'nhsuk-label', for: 'input-password' %>
        <%= f.password_field :password, class: 'nhsuk-input', id: 'input-password', autocomplete: 'new-password' %>
      </div>

      <div class='nhsuk-form-group'>
        <%= f.label :password_confirmation, class: 'nhsuk-label', for: 'input-password' %>
        <%= f.password_field :password_confirmation, class: 'nhsuk-input', id: 'input-password', autocomplete: 'new-password' %>
      </div>

      <div class='form-actions'>
        <%= f.submit I18n.t('navigation.sign_up'), class: 'nhsuk-button' %>
      </div>
    </fieldset>
  <% end %>

  <%= render 'devise/shared/links' %>
</div>
