<%#
# Form Partial

This partial is rendered on a resource's `new` and `edit` pages,
and renders all form fields for a resource's editable attributes.

## Local variables:

- `page`:
  An instance of [Administrate::Page::Form][1].
  Contains helper methods to display a form,
  and knows which attributes should be displayed in the resource's form.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Page/Form
%>

<%= form_for([namespace, page.resource], html: { class: "form nhsuk-fieldset" }) do |f| %>
  <fieldset class="nhsuk-fieldset">

    <% page.attributes.each do |attribute| -%>
      <% hint = I18n.t(
        "models.#{attribute.resource.class.name.downcase}.hints.#{attribute.name}",
        default: nil
      ) %>
      <% errors = page.resource.errors[attribute.name.to_sym] %>
      <div class="field-unit field-unit--<%= attribute.html_class %> field-unit--<%= requireness(attribute) %> nhsuk-form-group<%= errors.any? ? " nhsuk-form-group--error" : nil %>">
        <%= render_field attribute, f: f, hint: hint, errors: errors %>
      </div>
    <% end -%>

    <div class="form-actions">
      <%= f.submit class: "nhsuk-button" %>
    </div>
  </fieldset>
<% end %>
