<!doctype html>
<html lang="en">
<head>
  <title><%= yield :title %></title>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="<%= yield :meta_description %>"/>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!--[if lt IE 9]>
  <script
      src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <script
      src="//cdnjs.cloudflare.com/ajax/libs/json3/3.3.2/json3.min.js"></script>
  <script
      src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
  <![endif]-->
</head>

<body>
  <main role="main" class="container">
    <%= yield %>
  </main>
</body>
</html>
